@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style-type: none;
    display: block;
    color: white;
    font-size: 20px;
    margin: 27px;
    margin-bottom: 0%;
    margin-top: 8.8px;
    transition: 1s;
    font-family: MV Boli;
    float: right;
}

.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.nav ul li:hover {
    color: grey;
    border-bottom: 1px solid white;
}

.nav ul {
    margin-right: 45px;
}

.mid {
    background: url(bg.jpg);
    margin: 0px;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.mid p {
    margin-left: 15%;
    font-size: 35px;
    color: white;
    margin-top: 15%;
    background-color: #f400fc;
    font-family: cursive;
}

.mid img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: 55%;
    margin-top: -10%;
    border: 5px solid black;
}

.secRight {
    display: flex;
    margin: 7%;
    margin-bottom: 0%;
    padding-left: 0%;
    /* border: 2px solid black; */
    width: 89%;
    height: 300px;
}

.secRight img {
    width: 170px;
    height: 170px;
    border-radius: 10%;
    box-shadow: 5px 2px 3px black;
}

.secRight h1 {
    font-family: 'Oswald', sans-serif;
    margin-left: 320px;
    /* border: 2px solid black; */
    margin-bottom: 15%;
    width: 1900px;
    height: 50px;
    text-align: right;
}

.secRight p {
    margin: 0px;
    /* border: 2px solid black; */
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    margin-top: 5%;
}

.secLeft {
    display: flex;
    margin: 7%;
    margin-bottom: 0%;
    padding-left: 0%;
    /* border: 2px solid black; */
    width: 89%;
    height: 300px;
}

.secLeft img {
    width: 170px;
    height: 170px;
    margin-top: 2%;
    margin-left: 400px;
    border-radius: 10%;
    /* border: 2px solid black; */
    box-shadow: 5px 2px 3px black;
}

.secLeft h1 {
    font-family: 'Oswald', sans-serif;
    margin-left: 0px;
    /* border: 2px solid black; */
    margin-bottom: 15%;
    width: 1000px;
    height: 50px;
    text-align: right;
}

.secLeft p {
    margin: 0px;
    padding: 0px;
    /* border: 2px solid black; */
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    margin-left: 0px;
    margin-top: 5%;
}

.footer {
    background-color: black;
    padding: 50px;
}

.footer h1 {
    text-align: center;
    font-weight: normal;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

.inside {
    margin: 30px;
    text-align: center;
}

.inside input {
    outline: none;
    padding: 15px;
    font-size: 18px;
}

.inside textarea {
    outline: none;
    font-size: 15px;
    padding: 15px;
}

.footer button {
    background: none;
    outline: none;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10%;
    font-size: 20px;
    padding: 10px;
    transition: 1s;
    text-align: center;
    margin-left: 60%;
}

.footer button:hover {
    padding: 20px;
    font-size: 25px;
    border-color: yellow;
}